@using PMA.Models
@model dynamic

@{
    ViewBag.Title = "Developer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        /* Create two unequal columns that floats next to each other */

        .column {
            float: left;
            height: auto;
            padding: 10px;
        }

        .left {
            width: 75%;
        }

        .right {
            width: 25%;
        }

        /* Clear floats after the columns */

        .row:after {
            clear: both;
            content: "";
            display: table;
        }

        .center {
            margin: auto; 
            padding: 6px;

        }

    </style>
</head>

<body>
    <div class="row">
        <div class="column left" style="background-color: #aaa;">
            <div class="container">
                <h3>Invite Requests</h3>
                <table class="steelBlueCols">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Description</th>
                            <th>PM</th>
                            <th>Customer</th>
                            <th style="width:180px">Reply</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (Project item in Model.newProjects)
                    {
                        <tr>
                            <td>@item.pName</td>
                            <td>@item.pDesc</td>
                            <td>@item.Pm</td>
                            <td>@item.Cust</td>
                            <td><button onclick="location.href = '@Url.Action("ProjectRespond", "Developer", new {uId=@Model.Developer.id, pId=@item.p_ID, res=1 })'"
                                        style="color: black">Accept</button>
                                <button onclick="location.href = '@Url.Action("ProjectRespond", "Developer", new {uId=@Model.Developer.id, pId=@item.p_ID, res=2 })'" style="color: black" onclick="">Reject</button></td>
                        </tr>
                    }
                        </tbody>
                </table>
            </div>
            <div class="container">
                <h3>Current Projects</h3>
                <table class="steelBlueCols">
                    <thead>
                        <tr>
                            <th style="width:60px">Project ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>PM</th>
                            <th>Customer</th>
                            <th>Drop Request</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Project item in Model.acceptedProjects)
                        {
                            if (item.pStatus.Equals(1))
                            {
                        <tr>
                            <td>@item.p_ID</td>
                            <td>@item.pName</td>
                            <td>@item.pDesc</td>
                            <td>@item.Pm</td>
                            <td>@item.Cust</td>
                            <td><button style="color: black" onclick="location.href = '@Url.Action("ProjectDrop", "Developer", new {uId=@Model.Developer.id, pId=@item.p_ID})'">Drop</button></td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="container">
                <h3>Previous Delivered Projects</h3>
                <table class="steelBlueCols">
                    <thead>
                        <tr>
                            <th style="width:60px">Project ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>PM</th>
                            <th>Customer</th>
                        </tr>
                    </thead>
                    <tbody>

                    @foreach (Project item in Model.acceptedProjects)
                    {
                        if (item.pStatus.Equals(2))
                        {
                            <tr>
                                <td>@item.p_ID</td>
                                <td>@item.pName</td>
                                <td>@item.pDesc</td>
                                <td>@item.Pm</td>
                                <td>@item.Cust</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column right" style="background-color: #bbb;">
            <div class="container">
                <div class="row">
                    <img src="data:image/png;base64,@(Convert.ToBase64String(Model.Developer.image))" height="250" width="250" class="img-rounded img-responsive">
                </div>
                <div class="center">
                    <h3 class="center">@Model.Developer.firstName @Model.Developer.lastName</h3>
                    <p>

                        <i class="glyphicon glyphicon-envelope"> @Model.Developer.email</i>
                        <br />
                        <i class="glyphicon glyphicon-phone"> @Model.Developer.phoneNo</i>
                        <br />
                        <i class="glyphicon glyphicon-file"> @Model.Developer.job</i>
                        <br />
                    </p>
                    <p>
                        <div class="row" style="width:35%">
                            <strong>Skills: </strong>
                            @foreach (Skill item in Model.Skills)
                            {
                                <span class="tags">@item.s_Name</span>
                            }


                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>